
\.idea/

__pycache__/

test/games
test/logs
test/models

logs/
games/
models/
sp_models/
*.thinh-H67MU3

*.h5

*.log*

eval_games/
sp_eval_games/

*.AppImage
*.sgf

mcts/
self_play_data/
sp_self_play_data/
